spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/tienda_db
    username: tienda_user
    password: tienda_pass
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    show-sql: true
  flyway:
    enabled: true
